

body, html {
    height: 100%;
    width: 100%;
}

.booger * {
    border: solid 1px black;
}
.booger {
    margin: 0 auto;
    height: 140%;
    min-width: 600px;
    width: 90%;
    display: grid;
    grid-template-rows: 10% 85% 5%;
}
main {
    display:grid;
    grid-template-rows: 30% 25% 45%;
    background-color:antiquewhite
}
header {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.main1 {
    display: grid;
    grid-template-columns: 100%;
}
.main2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }